<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlightBagTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FlightBagTool.Properties.Settings>
            <setting name="callSigns" serializeAs="String">
                <value>OMAHA-04,OMAHA-08</value>
            </setting>
            <setting name="sectors" serializeAs="String">
                <value>S,B,B2,B3,D,D2,C,C2,L,L2,V,V2,P,K,A,N,N2,M,G</value>
            </setting>
            <setting name="sqawkbox" serializeAs="String">
                <value />
            </setting>
            <setting name="altitudeBottomBox" serializeAs="String">
                <value />
            </setting>
            <setting name="altitudeTopBox" serializeAs="String">
                <value />
            </setting>
            <setting name="rotateBox" serializeAs="String">
                <value />
            </setting>
            <setting name="liftOffBox" serializeAs="String">
                <value />
            </setting>
            <setting name="approachBox" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedCall" serializeAs="String">
                <value>0</value>
            </setting>
        </FlightBagTool.Properties.Settings>
    </userSettings>
</configuration>
