<html>
    <style>
        body {background-color:#F5F5F0; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 4px;}
        table {margin-left: auto; margin-right: auto; text-align: center; padding-bottom:4px; border="1"; border-color:#000000}
    </style>
	<body>
		<div>
			<div>
				<a href="http://imgur.com/5YWe05I"><img src="http://i.imgur.com/5YWe05I.png" title="CS50 Finance Logo" /></a>
			</div>
            <div>
                <h4>Transaction Confirmation</h4>           
                <table>
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Symbol</th>
                            <th>Volume</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                                     
                            <th>first</th>
                            <th>second</th>
                            <th>third</th>
                            <th>fourth</th>                          
                        </tr>
                    </tbody>
                </table>
            </div>
	    	<div >
	        	Copyright &#169; Derek Osborne
	    	</div>
    	</div>
    </body>
</html>