<html>
    <style>
        body {background-color:#F5F5F0; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 4px;}
        div {margin-left: auto; margin-right: auto; text-align: center; padding-bottom:4px; border="1"; border-color:#000000}
    </style>
	<body>
		<div>
			<div>
				<a href="http://imgur.com/5YWe05I"><img src="http://i.imgur.com/5YWe05I.png" title="CS50 Finance Logo" /></a>
			</div>
            <div>
                <h4>Good Bye Friend!</h4>           
                <p>This email is to confirm your retirement from CS50 Finance.</p>
                <p>Feel free to register again any time in the future!</p>
            </div>
	    	<div >
	        	Copyright &#169; Derek Osborne
	    	</div>
    	</div>
    </body>
</html>